/* Global elements */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2f2f2f;
}

body, input, button, #map {
	font-family: "ManifoldDSA", sans-serif;
}

body, input, button {
	font-size: 16px;
	line-height: 1.5;
}

a {
	text-decoration: none;
	outline: 0;
}

a:hover {
	text-decoration: underline;
}

/* Map */

#map {
	position: absolute;
	top: 40px;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

/* Loading spinner */

#spinner {
	z-index: 1000;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 4rem;
	height: 4rem;
	margin-left: -2rem;
	margin-top: -2rem;
}

#spinner div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 3rem;
	height: 3rem;
	margin: .5rem;
	border: .25rem solid #7f7f7f;
	border-radius: 50%;
	border-color: #7f7f7f transparent transparent transparent;
	animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

#spinner div:nth-child(1) {
	animation-delay: -0.45s;
}

#spinner div:nth-child(2) {
	animation-delay: -0.3s;
}

#spinner div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

